<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
		{% for messages in get_flashed_messages() %}
			<div style="
				color: black; 
				font-size: 20px; 
				border-radius: 10px; 
				width: 600px; 
				background-color: #d4edda; 
				height: 50px; 
				justify-content: center;
				flex-direction: row;
				align-items: center;
			" id="alert-message">
				<p style="
				font-size: 15px;
				color: black;
				">{{messages}}</p>
			</div>
		{%endfor %}
		<p>Book</p>
		<div class="form-div" style="justify-content: center; display: flex;">

			<form method="post" style="padding: '7px';">
				{{ form.hidden_tag() }}


				{{ form.day(placeholder="Date")}}
				{%for error in form.day.errors %}
				<p class='error'>{{ error }}</p>
				{% endfor %}

				{{ form.laundry(placeholder="Laundry Type" ,class="payment")}}
				{%for error in form.laundry.errors %}
				<p class='error'>{{ error }}</p>
				{% endfor %}

				{{ form.payment_mode(placeholder="Payment Mode" , class="payment")}}
				{%for error in form.payment_mode.errors %}
				<p class='error'>{{ error }}</p>
				{% endfor %}

				{{ form.location(placeholder="Location" )}}
				{%for error in form.location.errors %}
				<p class='error'>{{ error }}</p>
				{% endfor %}

				{{form.submit(placeholder="Book" ,class="button")}}

			</form>
            </div>
            <div style="padding: 50px;">
                <table>
                    <tr>
                        <th style="color: white;">
                            Day
                        </th>
    
                        <th style="color: white;">
                            Laundry Type
                        </th>
                        <th style="color: white;">
                            Location
                        </th>
                        <th style="color: white;">
                            Status
                        </th>
                        <th style="color: white;">
                            Payment Mode
                        </th>
                    </tr>
                    {% for booking in data %}
                        <tr>
                            <td>{{booking.date.strftime("%d-%m-%Y")}}</td>
                            <td>{{booking.type_laundry}}</td>
                            <td>{{booking.location}}</td>
                            {% if booking.completed == True %}
                                <td>Completed</td>
                            {% else %}
                                <td>Pending</td>
                            {% endif %}
                            <td>{{booking.payment}}</td>
    
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
        </div>
</body>
<script>
    setTimeout(function(){
		var alertMessage = document.getElementById('alert-message')
		if (alertMessage){
			alertMessage.remove();
		}
	},2000)
</script>
</html>