<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_Sign_Up</title>
    <link rel="stylesheet" href="{{url_for('static' ,filename='Login_SignUp/Login_Sign_Up.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
	integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<!-- PUT THE NAVIGATION BAR HERE  -->



</head>
<body>


<div class="container" id="container">

	<div class="form-container sign-in-container">
		{% with messages =  get_flashed_messages()%}
			{% if messages %}
				<div class="notification is-danger">
					{{ messages[0] }} Go to <a href="{{url_for('auth.signin')}}"> login page.</a> 
				</div>
			{% endif %}
		{% endwith %}

		<form action="" method="post">
			{{ sign_up.hidden_tag() }}
			<h1>Sign Up</h1>

			{{ sign_up.name(placeholder="Name")}}
			{%for error in sign_up.name.errors %}
			<p>{{ error }}</p>
			{% endfor %}

			{{ sign_up.email(placeholder="Email")}}
			{%for error in sign_up.email.errors %}
			<p>{{ error }}</p>
			{% endfor %}

			{{ sign_up.password(placeholder="Password")}}
			{%for error in sign_up.password.errors %}
			<p>{{ error }}</p>
			{% endfor %}

			{{sign_up.submit(placeholder="Create Account" , 
			 style= 'border-radius: 20px;
				border: 1px solid #019587;
				background-color:#019587;
				color: #FFFFFF;
				font-size: 12px;
				font-weight: bold;
				padding: 12px 45px;
				letter-spacing: 1px;
				text-transform: uppercase;
				transition: transform 80ms ease-in;'
			)}} 
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				
			</div>
		</div>
	</div>
</div>

<footer>

</footer>
<script src="{{url_for('static',filename='NAVBAR/navbar.js')}}"></script>
</body>
</html>